@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Roboto, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    --dark-color-a: #667aff;
    --dark-color-b: #7386ff;
    --light-color: #e6e9ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-color-a);
    height: 4rem;
    padding: 1rem;
    box-shadow: 0 1px 2px 2px lightgray;
}

.header-icons button {
    margin-left: 0.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 0px solid black;
    border-radius: 100%;
}

/* Main region */
main {
    display: grid;
    grid-template-columns: 5rem 1fr 15rem;
    height: 100vh;
}

main .full-canvas {
    grid-template-columns: 5rem 1fr;
}

/* Left pane */
.left-pane {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    border-radius: 1rem;
    border: 0 2px transparent;
    box-shadow: 1px 4px 5px 2px lightgray;
}

.left-pane button {
    margin: 0.5rem auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 0px solid black;
    cursor: pointer;
    background-color: var(--light-color);
    box-shadow: 0 0 0px 0px lightgray;
    box-shadow: 1px 1px 3px 1px rgb(101, 98, 98);
    transition: all 0.1s;
}

.left-pane button:hover,
.left-pane button.selected {
    box-shadow: 3px 3px 2px 1px rgb(101, 98, 98);
}

/* Canvas */
.canvas-container {
    margin-top: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
    box-shadow: 1.5px 0px 3px 1px rgb(199, 190, 190);
    border: 1px solid lightgray;
}

.full-canvas {
    width: 95%;
}

/* Right pane */
.right-pane {
    margin-top: 5px;
    height: 100%;
    padding: 0.5rem 10px;
    /* border: 1px solid gray; */
    box-shadow: 0 0 2px 1px lightgray;
}

.right-pane.expand {
    display: none;
    width: 0;
}

.right-pane .property {
    margin: 10px 1px;
    font-size: 0.8rem;
}

.right-pane select {
    width: 100%;
    padding: 5px;
    outline: none;
}

.right-pane input[type="color"] {
    width: 100%;
}

.right-pane .tabs {
    margin: 2px 0px;
}

.tab-buttons button {
    padding: 5px 10px;
    border: 0 solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
}

.tab-buttons button.active {
    background-color: var(--dark-color-a);
    color: var(--light-color);
}

.tab-area {
    border: 1px solid gray;
    height: 100%;
    padding: 5px;
}

.tab-item {
    display: none;
}

.tab-item.active-tab {
    display: block;
}
